@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700; 800;900& display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.heading{
    top: 0;
    text-align: center;
    font-size: 4.5rem;
    margin: 4rem 0;
}

:root{
    --bg-color: #0F0F0F;
    --second-bg-color: #1d1d1f;
    --text-color: #FFF;
    --main-color: #8368FF;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 12% 4rem;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 3rem;
    transition: .3s;
    
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

/* .navbar a:active{
    color: var(--main-color);
} */

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    gap: 1rem;
}

.home-content{
    display: flex;    
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 1rem;
}

.profile-img img{
    position: relative;
    width: 20vw;
    border-radius: 5rem;
    box-shadow: 0 0 25px var(--main-color);
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h4{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3
}

.home-content p {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-right: 10rem;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

/* .sosmed a {
display: inline-flex;
justify-content: center;
align-items: center;
width: 4.5rem;
height: 4.5rem;
background: transparent;
border: 2px solid var(--main-color);
font-size: 2.5rem;
border-radius: 50%;
color: var(--main-color);
margin: 3rem 1.5rem 3rem 0;
transition: 0.3s ease-in-out;
}

.sosmed a:hover{
color: var(--text-color);
transform: scale(1.3)translateY(-5px);
box-shadow:
} */

.sosmed a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: var(--second-bg-color);
    border-radius: 50%;
    font-size: 3rem;
    color: var(--main-color);
    margin: 0 0 0 1rem;
    transition: 0.3s ease-in-out;

}

.sosmed a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--main-color);
}


.sosmed p {
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Ukuran font paragraf (sesuaikan sesuai kebutuhan) */
}

span{
    color: var(--main-color);
}

/* .social-media{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    color: #edeef0;
    margin: 3rem 1.5rem 3rem 0;
} */

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 2rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-size: 600;
    transition: .5s ease;
    box-shadow: 0 0 1rem var(--bg-color);
}

.btn:hover {
    color: var(--text-color) ;
    box-shadow: 0 0 1rem var(--main-color);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #edeef0;
    position: relative;
    overflow: hidden;
}


nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.nav-links ul li a{
    color: #252424;
    text-decoration: none;
}

.project h2 {
    margin-bottom: 4rem;
}
 .project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
 }

 .project-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    
 }

 .project{
    padding-bottom: 100px;
    background-color: var(--bg-color);
}
/* 
.project-container{
    margin-top: 20px;
    height: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3rem;
 } */
 
 /* .project-container .project-box {
    flex: 1 1 25rem;
    background-color: var(--bg-color);
    padding: 2rem 3rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
 }

 .project-container .project-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
    box-shadow: 0 0 25px var(--main-color);
 } */
 
 .project-container .project-box {
    flex: 1 1 30rem;
    background-color: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    transition: .5s ease;
 }

 .project-container .project-box:hover{
    transform: scale(1.03);
    box-shadow: 0 0 25px var(--main-color);
 }

 .project-box img{
    width: 35%;
    border-radius: 2rem;
 }

 .project-box h3{
    font-size: 2.6rem;
    padding-top: 1rem;
 }

 .project-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
 }


 .education{
    padding: 100px 15px;
    background: var(--second-bg-color);
}

.education h2{
    margin-bottom: 4rem;
}

.timeline-items{
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}

.timeline-items::before{
    content: "";
    position: absolute;
    margin-top: 15px;
    width: 5px;
    height: 70%;
    background-color: var(--main-color);
    left: calc(50% - 0.5px);
}

.timeline-item{
    margin-bottom: 50px;
    width: 100%;
    position: relative;
    
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 35px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 35px);
}

.timeline-dot{
    height: 25px;
    width: 25px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 9.9px);
    border-radius: 50%;
    top: 3px;
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: #edeef0;
    margin: 0 9px 17px;
}

.timeline-content{
    background-color: var(--bg-color);
    padding: 30px 40px;
    border-radius: 4rem;
    cursor: default;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 7px var(--main-color);
    border: 1px solid var(--main-color);
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--main-color);

}

.timeline-content h3{
    font-size: 20px;
    color: #edeef0;
    line-height: 22px;
    margin-bottom: 10px;
    font-weight: 300;

}

.timeline-content p{
    font-size: 16px;
    color: #edeef0;
    margin: 0 0 10px;
    font-weight: 500;
}

.tools{
    padding-bottom: 100px;
    background-color: var(--second-bg-color);
}

.tools h2 {
    margin-bottom: 4rem;
}

.tools-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 4.5rem;
 }
 
 .tools-container .tools-box {
    flex: 1 1 25rem;
    background-color: var(--bg-color);
    padding: 2rem 3rem;
    border-radius: 2rem;
    text-align: center;
    border: .5rem solid var(--bg-color);
    transition: .5s ease;
 }

 .tools-container .tools-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
    box-shadow: 0 0 25px var(--main-color);
 }

 .tools-box img{
    width: 100%;
    border-radius: 2rem;
 }

 .contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--second-bg-color);
}

.heading-contact{
    top: 0;
    text-align: center;
    font-size: 4.5rem;
    margin-top: 1rem;
}

 .contact{
    justify-content: center;
    min-height: 75vh;
    flex-direction: column;
}

.contatti{
    text-align: left;
    font-size: 4.5rem;
}

.contact-upper-container{
    margin-top: 5rem;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 1rem;
    
}

.contact-container p {
    font-size: 1.9rem;
    padding: 1%;
}


.contact-icon{
    cursor: default;
    width: 3%;
    height: 3%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;

}

.footer-container p {
    font-size: 1.6rem;

}

.footer-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    color: #0F0F0F;
    background: var(--main-color);
    border-radius: .8rem;
    box-shadow: 0 0 1rem var(--bg-color-color);
    transition: 0.3s ease-in-out;
}

.footer-icon a:hover {
    color: var(--second-bg-color);
    transform: scale(1.02);
    box-shadow: 0 0 15px var(--main-color);
}

.footer-icon a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0 .2);
}

::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}

@media (max-width:1285px){
    html {
        font-size: 55%;
    }
    .tools-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 5rem;
    }
    
}
@media (max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    section {
        padding: 7.5rem 5% 2rem;
        
    }
    
    .timeline-items::before{
        left: 10px;
        height: 68%;
    }

    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }

    .timeline-dot{
        left: 0;
    }
    .project {
        padding-bottom: 7.5rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .tools {
        padding-bottom: 7.5rem;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width:768px){
    #menu-icon {
        display: block;
    }
    .navbar{
        position: absolute;
        top: 45%;
        left: 0;
        width: 100%;
        padding: 1rem 5%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        color: #edeef0;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column-reverse;
        margin-bottom: 7.5rem;
    }
    .education{
        margin-bottom: 3rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h4{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
        
    }

    .home-content p {
        max-width: 450px;
    }
    .profile-img img{
        width: 45vw;
        top: 5rem;
        right: 1rem;
        border-radius: 50%;
        margin-bottom: 8rem;
    }
    .project h3{
        margin-bottom: 1rem;
    }
    
}





/* .project h2{
    margin-bottom: 4rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;

}


.project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img{
    width: 100%;
}

.project-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba (0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 3rem;
}

.project-layer h4{
    font-size: 3rem;
}

.project-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
} */

.kotak{
    width: 100%;
    max-width: 600px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 40px 50px;
    border-radius: 10px;
}
.todo-app h2{
    color: #1d1d1f;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: #edeef0;
    padding-left: 15px;
    margin-bottom: 20px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 17px;
}
button{
    border: none;
    outline: none;
    padding: 11px 25px;
    background: #FF90BC;
    color: #edeef0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}